body{
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 1fr 8fr 1fr;
    display: grid;

    background-color: bisque;
    height: 100vh;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 500px) {
    body {
        display: flex;
        flex-direction: column;
    }
}

nav{
    grid-column: 1/4;
    grid-row: 1;

}

#top{
    background-color: rgb(233, 204, 170);
    text-align: center;
    font-size: 50px;
}

img{
    height: 100%;
    width: 100%;
    position:absolute;
    z-index: 101;
}

main{
    grid-column: 2/3;
    grid-row: 2;

    display: flex;
    align-items: center;
    justify-content: center 
}

#bigbutton{
    height: 384px;
    width: 384px;

    display: flex;
    align-items: center;
    justify-content: center 
}


h1 {
    position: absolute;
    z-index: 100;
    color: aliceblue;
}

#bigbutton > img{
    position: absolute;
    z-index: 98;
    height: 384px;
    width: 384px;

}

button{
    position: fixed;
  bottom: 8px;
  right: 16px;
}

#side{
    grid-column: 3/4;
    grid-row: 2;

    background-color: beige;
}

ul{
    width: auto;
    margin: 0;
    padding: 10px;
    text-align: center;
}

a :hover{
background-color: brown;
}

footer{
    grid-column: 1/4;
    grid-row: 3;

    display: flex;
    align-items: center;
    justify-content: center 
}